.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

.login-btn {
    background: #04DDB2;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    border: none;
}

input {
    width: 100%;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid black;
}

.card {
    box-shadow: 5px 5px 5px ghostwhite, 5px 5px 5px ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 2rem;
    padding: 1rem 2rem 2rem;
    max-width: 25rem;
}

.card-container{
    display: flex;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;

}